@model IEnumerable<BsacTimeTableCore2.Data.DBModels.Group>

@{
    ViewData["Title"] = "Open";
}

<table class="table table-bordered" style="margin-top: 2px;">
    @await Html.PartialAsync("_ManageRecordsOpenHeadPartial")
    <tbody>
        @foreach(var g in Model)
        {
            @await Html.PartialAsync("_ManageRecordsOpenRowPartial", g)
        }
    </tbody>
</table>

